<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>MNNIT Event</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"  >
        <a class="navbar-brand" href="/">Moti Ke Lal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Event</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                List of Event
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Participate</a>
                <a class="dropdown-item" href="#">Remove Event</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Download event brochure</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/contact">Contact Us</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      {%if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

      <div class="container mt-5 border-bottom border-primary" >
        <div class="row justify-content-md-center">
          
          <div class="col-md-auto text-danger ">
            NOTICE BOARD
            
          </div>

        </div>
        </div>
        <div class="mt-5">
          {% for notice in notices reversed %}

          <div class="container rounded mt-2 border border-radius-rounded border-success" > 
            <div class="row justify-content-md-left">
            
             <div class="col-md-15 p-3">
              <div class="text-warning pb-3">
                {{ notice.date }}
              </div>
              {{ notice.notice }}
              </div>
            </div> 
          </div>
          {% endfor %}
        </div>

          <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label class='mt-5 ml-4 border-bottom' for="notice">[+] Add a new Notice</label>
                <textarea class="form-control m-4 p-3 justify-content-center" id="notice" name="notice" row="3" placeholder="Enter your Notice here..."></textarea>
            <button action="POST" id="submit" type= "submit" class="btn btn-primary ml-4">Submit</button>
            </div>
        </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>