{% extends "base.html"%}

    {% block content %}


    <div class="global-container">
        <div class="card login-form">
        <div class="card-body" style="background: #252323; color: white;">
            <h3 class="card-title text-center">LOG IN</h3>
            <h4 class="card-title text-center">Robotics Event Website</h4>
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
      
        {% endif %}
            <div class="card-text">
                <form method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" name="username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                       
                        <input type="password" name="password" class="form-control form-control-sm" id="exampleInputPassword1">
                        <br><a href="#" style="float:right;font-size:12px;">Forgot password?</a>
                        <br>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" style="background: red
                    ; border: red;">Sign in</button>
                    
                    <div class="sign-up">
                        Don't have an account? <a href="{% url 'register_attempt' %}">Create One</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    

    {% endblock %}